
html{
	font-family:"Helvetica Neue", Helvetica, Gotham, Arial, sans-serif;
	font-weight:300;
    background-image:url(../img/beige_paper/beige_paper.png);
	/*background-color:#E3D7AF;*/
}

.grid {
	width: 100%;
	display:block;
	clear:both;
	overflow:hidden; /*cant keep socialmedia-bottom horizontal unless I take this away*/
}

    a {
        text-decoration: none;
        color: #8D4647;
    }
    a:hover{
        color: #568E7F;
    }

    .clearfix:before,
    .clearfix:after {
        content: "";
        display: table;
    }

    .clearfix:after {
        clear:both;
    }

    .clearfix {
        *zoom: 1; 
    }

    .flex{
        display: block;
        width: 100%;
    }


svg:not(:root) {
  overflow: hidden;
}

@media screen and (min-width: 15em) {
    header {
        display:block;
        z-index:1;
        position:relative;
    }

    .header-image {
        width:110%;
        z-index:3;
        margin-top: 4.6em;
        position:relative;
    }
    
    .header-image svg {
        display: block;
        width: 100%;
    }

    .socialmediaicons {
        position: absolute;
        bottom: 1.5em;
        z-index:3;
        width: 17%;
        margin-left: 1em;
    }

    .horizontal-socialmedia{
        display:none;
    }

    .socialmedia img{
        list-style: none;
        display: block;
        width: 100%;
    }

    .socialmedia a{
        display: block;
        width: 60%;
        max-width:30px;
        margin: 4px .2em 0 0;
        border-radius: 50%;
    }

    .socialmedia a:hover{
        background-color: #568E7F;   
    }

    .initial-paragraph{
        float:left;
        z-index:3;
        position:absolute;
        width:59%;
        margin-left: 1em;
        top: 1em;
        color:#8D4647;
        line-height: 1.2;
        font-size: 11px;
    }

    .initial-paragraph h1{
        color:#568E7F;
        font-family: 'Cookie', cursive;
        font-size: 25px;
    }
    
    p {
        margin-bottom: 7px;
    }
    
    .bluebar {
        background-color:#568E7F;
        display:block;
        z-index:1;
        width:100%;
        margin-top: -0.5em;
        text-align:center;
        padding: .5em 0 .2em;
        color: #E3D7AF;
        font-family: 'Cookie', cursive;
        font-size:25px;
    }

    .col-1-1-sm {
        display: block;
        width:100%;
    }
    
    .portfolio{
        margin-bottom: 0em;
    }
    
    .portfolio img{
        opacity: 0.7;
        display: block;
        transition: all .5s linear;
    }
    
    .portfolio img:hover {
        opacity: 1;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    
    .preview{
        overflow: hidden;
        display: block;
    }
    
    .footer {
            background-color:#568E7F;
            display:block;
            z-index:1;
            width:100%;
            position: inherit;
            margin-top: 0;
            text-align:center;
            padding: .5em 0 .2em;
            color: #E3D7AF;
            font-family: 'Cookie', cursive;
            font-size:26px;
    }
    
    .contact {
        margin: 4em auto 0;
        display: block;
        text-align: center;
        width: 90%;
    }

    .socialmedia-bottom {
        text-align: center;
        list-style: none;
        display: inline-block;
    }
    
    .socialmedia-bottom a{
        border-radius: 50%;
        display: block;
        margin: 0 6px;
        width: 30px; 
    }

    .socialmedia-bottom a:hover{
        background-color: #568E7F; 
        
    }
    

    .email {
        float:none;
        margin-top: 2em;
        color: #8D4647;
        text-decoration: none;
    }   

    .col-1-3-sm {
         width:33.333%;
         float:left;
         text-align: center;
     }

    hr {
        border: solid 1px #8D4647;
    }   

    .col-1-3-sm p{
        color: #8D4647;
        font-family: 'Cookie', cursive;
        font-size:22px;
    }   
    
    .bottom-bar{
        overflow: hidden; 
        margin-top: 1.7em;
        height: 20px;
    }
}
    
@media screen and (min-width: 20em) {
    .header-image {
        margin-top: -1em;
    }

    .socialmediaicons{
        display:none;
    }

    .horizontal-socialmedia{
        display:block;
        position: absolute;
        z-index:3;
        bottom: 1.2em;
        margin-left:0.8em;
    }

    .socialmedia a{
        float: left;
        margin: 8px .2em 0 0;
    }
    .initial-paragraph{
        width:52%;
        font-size: 13px;
    }

    p {
        margin-bottom: 10px;
    }

    .initial-paragraph h1{
        font-size: 34px;
        margin-bottom: 10px;
    }

    .bluebar{
        margin-top:-0.7em;
        font-size: 24px;
    }
    
    .col-1-2-md {
        width:50%;
        float: left;       
    }
    
    .footer{
        font-size: 24px;
    }

}

@media screen and (min-width: 25em) {
    .header-image {
        margin-top: -4em;
    }


@media screen and (min-width: 32em) {
    .header-image {
        right:0.5em;
        margin-top: -5em;
    }

    .horizontal-socialmedia{
        margin-left:2em;
        bottom: 2.4em;
    }

    .initial-paragraph{
        width:45%;
        margin-left: 2em;
        top: 2em;
        line-height: 1.3;
        font-size: 15px;
        overfow:hidden;
    }
    
    .initial-paragraph h1{
        font-size: 50px;
    }
    
    .bluebar{
        font-size: 40px;
    }
    
     .footer{
        font-size: 40px;
    }
    
    .socialmedia-bottom{
        margin: 0 8px;
        list-style: none;
    }
    
    .socialmedia-bottom a{
        width: 40px; 
    }
    
    .email{
        font-size: 20px;}
    
    .map {
        max-width: 32em;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        display: block;
    }
    
    .col-1-3-sm p{
        font-size:28px;
    }
     
}

@media screen and (min-width: 39em) {
    .header-image {
        right:1.9em;
        margin-top: -8em;
    }

    .horizontal-socialmedia{
        margin-left:2.5em;
        bottom: 2.8em;
    }
    
    .socialmedia a{
        width: 30%;
        max-width:40px;
    }
    
    .initial-paragraph{
        top: 3em;
    } 
    
    .socialmedia-bottom a{
        width: 45px; 
        margin: 0 5px;

    }
}

@media screen and (min-width: 49em) {
    .header-image {
        right:2em;
        margin-top: -10em;
    }

    .horizontal-socialmedia{
        bottom: 3.0em;
        margin-left: 3em;
    }
    
      .socialmedia a{
        max-width:45px;
    }
    
    .initial-paragraph{
        width:40%;
        font-size: 17px;
    }

    .initial-paragraph h1{
        font-size: 55px;
    }
    
    .col-1-3-lg {
        width:33.333%;
        float: left;       
    }
    
     .socialmedia-bottom a{
        width: 50px;
     }
}
    
@media screen and (min-width: 61em) {
    .header-image {
        right:2.2em;
        margin-top:-9em;
    }

    .horizontal-socialmedia{
        bottom: 4em;
        margin-left:4em;
    }
    
     .socialmedia a{
        max-width:50px;
    }

    .initial-paragraph{
        margin-left: 4em;
        font-size: 20px;
    }
}

@media screen and (min-width: 66em) {
    .header-image {
        width:90%;
        right:-8em;
        margin-top: -11em;
    }

    .horizontal-socialmedia{
        margin-left:6em;
    }
    
    .socialmedia a{
        max-width:55px;
    }

    .initial-paragraph{
        width:35%;
        margin-left: 5em;
       
    }
    
    .col-1-4-xl {
        width:25%;
        float: left;       
    }
}

@media screen and (min-width: 87.5em) {
    .header-image {
        width:80%;
        right:-12em;
        margin-top: -13em;
    }
    
    .initial-paragraph{
        margin-left: 4em;
        font-size: 24px;
    }
    
    .bluebar{
        font-size: 50px;
    }
    
    .footer{
        font-size: 50;
    }
}

@media screen and (min-width: 120em) {
    .header-image {
        right:-11em;
        margin-top: -19em;
    }
    
    .horizontal-socialmedia{
        bottom:7em;
        margin-left:11em;
   }
    
    .socialmedia a{
        max-width:70px;
        margin: 8px .7em 0 0;
    }

    .initial-paragraph{
        top: 4em;
        line-height: 1.5;
    }
    .initial-paragraph h1{
        font-size: 80px;
    }
    
    .bluebar{
        font-size: 60px;
    }
    
    .footer{
        font-size: 60px;
    }
    
    .socialmedia-bottom a{
        width: 55px;
     
    
    
}

